<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Interface Utilisateur - Informations</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/informations.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main class="main">
        {# PREMIERE SECTION#}
        <section class="main__section">
            <div class="section__container">
                <img src={{asset('assets/images/arrow_left.png')}}>
                <h3>Informations</h3>
            </div>


            {{ form_start(form) }}
                {{ form_row(form.lastName, {'attr': {'value' : lastName }} )}}
                {{ form_row(form.firstName, {'attr': {'value' : firstName }} )}}
                {{ form_row(form.phoneNumber, {'attr': {'value' : phoneNumber }} )}}
                {{ form_row(form.email, {'attr': {'value' : email }} )}}
                {{ form_row(form.number, {'attr': {'value' : number }} )}}
                {% block button %}
                    {% include('global/modals/modalBtnForm.html.twig') %}
                {% endblock %}
            {{ form_end(form) }}
        </section>
        {# FIN PREMIERE SECTION #}

    </main>

     {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}


</body>
</html>