<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Liste des utilisateurs - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/usersList.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

{# BODY PART #}
{% block body %}
<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeaderAdmin %}
        {% include ('global/modals/modalHeaderAdmin.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main class="main">
        <section class="firstSection">
            <a href="/interface/admin"><img src={{ asset('assets/images/arrow_left.png') }} class="firstSection__arrowLeft"></a>
            <h2 class="firstSection__title2">Données utilisateurs</h2>
        </section>

        <section class="secondSection">
            <h2 class="secondSection__title2">Liste des utilisateurs</h2>
            <div class="usersList">
                {% set i = 0 %}
                {% for user in thirdArray %}
                    <ul class="container__dataUser{{i}} container__userGlobal"> 
                        <li><p class="user{{i}} userGlobal">{{ user[0].email }}</p></li>
                        <li><p class="user{{i}} userGlobal">{{ user[0].lastName }}</p></li>
                        <li><p class="user{{i}} userGlobal">{{ user[0].firstName }}</p></li>
                        <li><p class="user{{i}} userGlobal">{{ user[0].phoneNumber }}</p></li>
                    </ul>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
        </section>
    </main>
    {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

{% endblock %}
</body>
</html>