<!DOCTYPE html>
<html lang="fr-Fr">

{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Accueil - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/accueil.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

{# BODY PART #}
<body>
    {# HERO PART #}
    <section class="container__hero">
        <header class="header">
            <nav class="header__nav">
                <div class="nav__div">
                    <h1>Le Quai Antique</h1>
                    <img src="{{ asset('assets/images/icon_user.png')}}" alt="icone utilisateur connexion et inscription" class="header__iconUser">
                </div>
                 <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/reservation">Réservation</a></li>
                    <li><a href="/contact">Contact</a></li>
                 </ul>
             </nav>
        </header>
        {# END HEADER #}

        <div class="div__title2">
            <h2>Une expérience mêlant le terroir avec la gastronomie</h2>
        </div>
        <h3 class="header__title3">Découvrez nos plats d'exceptions</h3>
        <section class="section__gallerie">
             <div class="gallerie__recettes">
                <img src="{{ asset('assets/images/recette2.jpg') }}" alt="premier plat" class="img__plats">
                <img src="{{ asset('assets/images/recette3.jpg') }}" alt="premier plat" class="img__plats">
                <img src="{{ asset('assets/images/recette1.jpg') }}" alt="premier plat" class="img__plats">
            </div>
        </section>
    </section>

    {# MAIN PART #}
    <main class="main">

        {# FIRST SECTION #}
        <section class="main__firstSection">
            <h2 class="main__title2">Notre histoire</h2>
            <div class="main__container">
                <img src="{{ asset('assets/images/chef.png') }}" alt="image du chef" class="main__imgChef">
                <div class="div__bgTitle">
                    <h3 class="div__title3">Natif de Savoie, le chef étoilé français John Doe ouvrit son premier restaurant gastronomique à l’âge de 27 ans. 
                    Son objectif est de faire découvrir les produits de sa ville d’origine.</h3>
                </div>
            </div>
        </section>
    
    </main>
    {# END MAIN #}
</body>
</html>
