<!DOCTYPE html>
<html lang="fr-Fr">

{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Accueil - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/accueil.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

{# BODY PART #}
<body>
    {# HERO PART #}
    <section class="container__hero">

    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

        <div class="div__title2">
            <h2>Une expérience mêlant le terroir avec la gastronomie</h2>
        </div>
        <h3 class="header__title3">Découvrez nos plats d'exceptions</h3>
        <section class="section__gallerie">

             <div class="gallerie__recettes">
                {% for resource in resources %}
                    <img src={{ repertory }}{{ resource }} alt="image recette" class="img__plats">
                {% endfor %}
            </div>
            
        </section>
    </section>

    {# MAIN PART #}
    <main class="main">

        {# FIRST SECTION #}
        <section class="main__firstSection">
            <h2 class="main__title2">Notre histoire</h2>
            <div class="main__container">
                <img src="{{ asset('assets/images/chef.png') }}" alt="image du chef" class="main__imgChef">
                <div class="div__bgTitle">
                    <h3 class="div__title3">Natif de Savoie, le chef étoilé français John Doe ouvrit son premier restaurant gastronomique à l’âge de 27 ans. 
                    Son objectif est de faire découvrir les produits de sa ville d’origine.</h3>
                </div>
            </div>
        </section>
    
        {# SECTION SECTION #}
        <section class="main__secondSection">
            <h2>Plats réalisés par le chef</h2>
            
            <section  class="container__imgs">
                {% for platImg in platImgs %}
                    {% set y = y + 1 %}
                    <img src="{{ platPath }}{{ platImg }}" alt="plat du chef" class="img__recette imgPlat{{ y }}">
                {% endfor %}
            </section>
            {% block button %}
                {% include('global/modals/modalButton.html.twig') %}
            {% endblock %}

        </section>
    </main>
    {# END MAIN #}

    {# IMPORTATION DU FOOTER #}
    {% block modalFooterAccueil %}
        {% include ('global/modals/modalFooterAccueil.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}
</body>
</html>
