{% extends 'base.html.twig' %}

{% block title %}Images - Le Quai Antique{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/interfaceImages2.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}

  {# IMPORTATION DU HEADER #}
  {% block modalHeaderAdmin %}
      {% include ('global/modals/modalHeaderAdmin.html.twig') %}
  {% endblock %}
  {# FIN IMPORTATION #}

  <main class="main">
    <section class="main__section">
      <img src="{{ asset('assets/images/arrow_left.png')}}" class="mainSection__arrowImg">
      <h2 class="mainSection__title2">Contact</h2>
    </section>

    <form method="POST" enctype="multipart/form-data">
      <div class="container__images">
      {% for resource in resources %}
        <div class="container__img contain{{ i }}">
          <img src="{{ pathStart }}{{ resource }}" alt="recette du chef" class="img__recette img{{ i }}">
          <input type="file" class="input__file" name="{{ i }}" id="{{ i }}">
        </div>
        {% set i = i + 1 %}
      {% endfor %} 
      </div>
      {% block button %}
        {% include('global/modals/modalBtnForm.html.twig') %}
      {% endblock %}
    </form>

  </main>

  {# IMPORTATION DU FOOTER #}
  {% block modalFooter %}
      {% include ('global/modals/modalFooter.html.twig') %}
  {% endblock %}
  {# FIN IMPORTATION #}


{% endblock %}
