<!DOCTYPE html>
<html lang="fr-Fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Contact - Le Quai Antique</title>
{% endblock %}
  
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/contact.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body>
    <div class="opacity"></div>
    {% block modalHeader %}
        {% include('global/modals/modalHeader.html.twig') %}
    {% endblock %}

    <main>
        <h2 class="main__title2">Une question ? Nous sommes disponibles du lundi au vendredi de 11H à 21H</h2>
        <div class="main__divContact">
            <p>Téléphone: <a href="tel:+33{{link.phonenumber}}">0{{link.phonenumber}}</a></p>
            <p>E-mail: <a href="mailto:{{ link.email }}">{{ link.email }}</a></p>
        </div>
        
        <section class="main__section">
            <h3 class="main__title3">Nos réseaux sociaux</h3>
            <div class="main__divlinkSocialNetwork">
                <a href="{{ link.facebook }}"><img src="{{ asset('assets/images/Social_Network/icon-facebook.png')}}" alt="logo facebook"></a>
                <a href="{{ link.instagram }}"><img src="{{ asset('assets/images/Social_Network/icon-instagram.png')}}" alt="logo instagram"></a>
                <a href="tel:+33{{ link.phonenumber }}"><img src="{{ asset('assets/images/Social_Network/icon-whatsapp.png')}}" alt="logo whatsapp"></a>
            </div>
        </section>
        <img src="{{ asset('assets/images/logo.png')}}" alt="Logo Le Quai Antique" class="logo">
    </main>

    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    
</body>
</html>