{% extends 'base.html.twig' %}
{# HEAD PART #}
{% block title %}Réservations - Le Quai Antique{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/interfaceReservations.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{# BODY PART #}
{% block body %}

    {# IMPORT HEADER #}
    {% block modalHeaderAdmin %}
        {% include ('global/modals/modalHeaderAdmin.html.twig')%}
    {% endblock %}

    {# START MAIN #}
    <main class="main">
        <section class="main__section">
            <a href="/interface/admin" class="mainSection__link">
                <img src="{{ asset('assets/images/arrow_left.png')}}" class="mainSection__leftArrow">
            </a>
            <h2 class="mainSection__title2">Contact</h2>
        </section>

        <section class="main__sectionContainer">
                <div>
                    <h3 class="mainSectionContainer__title3">Réservation déjeuner</h3>
                    <img src="{{ asset('assets/images/arrowBottom.png') }}" alt="fleche pour afficher les reservations" class="img__arrowBottom"/>
                </div>

                <ul class="list__container">
                    {% for data in datas %}
                        <li class="list__item">
                            <p class="list__user">{{ data.lastName }} {{ data.firstName }} | {{data.numberofpersons }}P | {{ data.slotoftheday }} | {{ data.dateofreservation }}</p>
                            <button type="submit" class="list__btn">X</button>
                        </li>
                    {% endfor %}
                </ul>
        </section>
    </main>

    {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

<script src="{{asset('assets/js/intReservations.js')}}"></script>
{% endblock %}
