<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Interface Utilisateur - Home</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/userReviews.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main class="main">
        <section class="firstSection">
            <a href="/user/home"><img src={{ asset('assets/images/arrow_left.png') }} class="firstSection__arrowLeft"></a>
            <h2 class="firstSection__title2">Mes avis</h2>
        </section>

        {% if count > 0 %}
            <ul class="container__reviews">
            {% for data in datas %}
                <li class="review">
                    <p class="review__p" id={{ data.id }}>{{ data.review }}</p>
                    <button type="submit" class="btn__review">X</button>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="noReview">Vous n'avez laissé encore aucun avis</p>
        {% endif %}
        
    </main>

     {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

<script src="{{ asset('assets/js/reloadPage.js')}}"></script>
</body>
</html>