<main>
    <h2>Contact</h2>
    {{ form_start(form) }}
        {{ form_row(form.phonenumber) }}
        {{ form_row(form.email) }}
        {{ form_row(form.facebook) }}
        {{ form_row(form.instagram) }}
        <button type="submit">Valider</buttton>
    {{ form_end(form) }}
</main>
