<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Ma réservation - Home</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/userReservation.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main>
        {% block modalBgIntUser %}
            {% include ('global/modals/modalBgIntUser.html.twig') %}
                {% if display == true %}
                    <p>Table réservée pour le {{ date }} à {{ hour }} pour {{ number }} personnes</p>
                {% else %}
                <p class="noReservationText">{{ displayText }}</p>
                {% endif %}
            </div>

            {% if display == true %}
                {% set textbtn = 'Annuler la réservation' %}
                {% block button %}
                    {% include('global/modals/modalBtnForm.html.twig') %}
                {% endblock %}
            {% endif %}
        {% endblock %}
    </main>

     {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

<script src="{{asset('assets/js/cancelledReservation.js')}}"></script>
</body>
</html>